{% extends "layoutChat.html" %}
{% block title %}NEW ANSWER{% endblock %}
{% block question %}

    <div class="titleBlock"><h1 style="text-align: center" class="titleText">RISPOSTE</h1><div class="titleAnswer"></div></div>

         <hr>
            <button onclick="location.href='/question'" class="btn btn-secondary btn-lg">Torna alle domande</button>
         <hr>
         <br>
         <div class="question">
             <p>NOME : {{ item.username }}</p>
             <p>DOMANDA : {{ item.question }}</p>
         </div>
             <br>
         <table class="table table-dark table-striped">

           <tr>
               <td><p>NOME</p></td>
               <td><p>RISPOSTA</p></td>
           </tr>
     {% for ans in answers %}
           <tr>
                <td><p>{{ ans.userAnswer }}</p></td>
                <td><p>{{ ans.answer }} </p></td>
           </tr>
            {% endfor %}
         </table>
<p>
    <br>
    <h2>AGGIUNGI LA TUA RISPOSTA</h2>
    <hr>
 <form action="/NewAnswer" method="POST" class="form_feedback">


                    <h2 class="h2_feedback" style="text-align: center">complet ail seguente form per inserire una nuova risposta</h2>
                    <div class="form-group">
                        <label class="attributes">Username</label>
                        <br>
                         <input type="text" class="form-control" id="username" name="userAnswer" value="{{ u }}" placeholder="Select a username">
                    </div>

                    <div class="form-group">
                        <label class="attributes">Risposta</label>
                        <br>
                        <textarea class="form-control" id="AnswerTextArea" rows="3" name="answer" placeholder="Enter your answer" rows="3"></textarea>
                    </div>
                    <input type="hidden" name="idQ" value="{{ item._id }}">
                    <br>
                    <button type="submit" class="btn btn-primary btn-lg">Invia la risposta</button>


                </form>

</p>

{%  endblock %}