{% extends 'layout.html' %}

{% block content %}
        <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->


    <div class="row">
      <div class="col-lg-8 mb-4">
        <h3>LOGIN AZIENDA</h3>
        <form method="post" >
          <div class="control-group form-group">
            <div class="controls">
                {{ login_form.piva.label  }}
                 {{ login_form.piva(class='form-control') }}

              {% for error in login_form.piva.errors %}
                <div class="alert alert-danger" role="alert">

                  {{ error }}
                </div>
                {% endfor  %}

            </div>
          </div>
         <div class="control-group form-group">
            <div class="controls">
              {{ login_form.passwordf.label  }}
                {{ login_form.passwordf(class='form-control') }}
                 {% for error in login_form.passwordf.errors %}
                <p class="alert alert-danger" role="alert">

                  {{ error }}
              </p>
                {% endfor  %}
            </div>
          </div>
         <!-- For success/fail messages -->
        {{ login_form.hidden_tag() }}
            {{ login_form.submit(class='btn btn-primary') }}
        </form>
      <br>
          <p>Se non sei ancora registrato premi <a href="firmsignup">qui</a> per registrarti</p>
      </div>
    </div>
    <!-- /.row -->
{% endblock content %}