<!doctype html>
<html lang="en">
  <head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>BON-U$</title>
  <link rel="icon" type="image/x-icon" href="images/BON-U$nosfondo.png">

  <!-- Import Bootstrap core to your flask project  -->
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Import Bootstrap core to your flask project  -->
  <link href="{{ url_for('static',filename='css/main.css') }}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static',filename='css/modern-business.css') }}" rel="stylesheet">

</head>

<body>

{% include 'navigation.html' %}
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">{{ name_website }}
      <small></small>
    </h1>


    <main>
        {% block content %}{% endblock %}
    </main>
    <br>
     <div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                 <div class="alert alert-warning alert-dismissible fade show" role="alert">
                 <span>{{ message }}</span>
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                 </div>

            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->


    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </div>
    <!-- Footer -->
<footer style="background-color: #4e555b ">
    <div align="center" style="color: white">Raggiungici sui social</div>
  <div align="center">
      <a href="#"><img src="/static/images/facebook-logo-black.png"></a>
      <a href="https://instagram.com/bon.us.official?igshid=YmMyMTA2M2Y="><img src="/static/images/instagram-logo-black.png"></a>
      <a href="https://www.youtube.com/channel/UCTcXswd4_mPF9oMFq5YsmAg/featured"><img src="/static/images/youtube-logo-black.png"></a>
      <a href="#"><img src="/static/images/twitter-logo-black.png"></a>
  </div>
    <div align="center" style="color: white" >Copyright ©</div>
</footer>

    <!-- Import Bootstrap core to your flask project  -->
  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>