<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="/static/css/footer.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>BON-U$</title>
  <link rel="icon" type="image/x-icon" href="/static/images/icon.png">
  <!-- Import Bootstrap core to your flask project  -->
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Import Bootstrap core to your flask project  -->
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static',filename='css/modern-business.css') }}" rel="stylesheet">
  <script src="/static/vendor/jquery/jquery.is"></script>
  <script type="text/javascript" src='/static/vendor/bootstrap/js/bootstrap.js'></script>
</head>

<body>

{% include 'navigation.html' %}
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">{{ name_website }}
      <small></small>
    </h1>


    {% block blog %}
    {% endblock blog %}
    {% block content %}
    {% endblock content %}

  </div>
  <!-- /.container -->

  <!-- Footer -->
<footer style="background-color: #4e555b ">
    <div align="center" style="color: white">Raggiungici sui social</div>
  <div align="center">
      <a href="#"><img src="/static/images/facebook-logo-black.png"></a>
      <a href="https://instagram.com/bon.us.official?igshid=YmMyMTA2M2Y="><img src="/static/images/instagram-logo-black.png"></a>
      <a href="https://www.youtube.com/channel/UCTcXswd4_mPF9oMFq5YsmAg/featured"><img src="/static/images/youtube-logo-black.png"></a>
      <a href="https://twitter.com/BonUs97738996"><img src="/static/images/twitter-logo-black.png"></a>
  </div>
    <div align="center" style="color: white" >Copyright ©</div>
</footer>

    <!-- Import Bootstrap core to your flask project  -->
  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>
