<!-- Navigation -->
 <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">{{ webname }}</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            <a class="nav-link" href="/index">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/allBonus">All bonus</a>
          </li>
          <li class="nav-item">     <!-- deve apparire solo se siamo loggati-->
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact us</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/feedback">Feedback</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/dashboard">Profile</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sign up
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="/signup">Person sign up</a>
              <a class="dropdown-item" href="/firmsignup">Firm sign up</a>
            </div>
          </li>
          <li class="nav-item dropdown">    <!-- da disabilitare se siamo loggati-->
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Login
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="/login">Person Login</a>
              <a class="dropdown-item" href="/firmlogin">Firm Login</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
