{% extends "layoutChat.html" %}

{% block question %}
      <div class="titleBlock"><h1 style="text-align: center" class="titleText">DOMANDE</h1><div class="titleAnswer"></div></div>

         <hr>
            <button onclick="location.href='/Newquestion'" class="btn btn-secondary btn-lg" >Aggiungi un'altra domanda</button>
         <hr>
         <br>
         <table class="table table-dark table-striped">
                <tr>
                    <th><p>NOME</p></th>
                    <th><p>DOMANDA</p></th>
                </tr>
             {% for item in values %}
                <tr>
                    <td><p class="attributes">{{ item.username }}</p></td>
                    <td><p><a style="text-transform: uppercase" href="answer/{{ item._id }}">{{ item.question }}</a></p></td>
                </tr>
             {% endfor %}
         </table>


{%  endblock %}