{% extends 'layout.html' %}





{% block content %}
        <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row">
      <div class="col-lg-8 mb-4">
        <h3>Sign up azienda</h3>
        <h3>{{emailf}}</h3>
        <form method="post">
          <div class="control-group form-group">
            <div class="controls">
              {{ regiterFormFirm.emailf.label  }}
                {{ regiterFormFirm.emailf(class='form-control')  }}
                {% for error in regiterFormFirm.emailf.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor  %}
                <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
               {{ regiterFormFirm.namef.label  }}
                {{ regiterFormFirm.namef(class='form-control')  }}
                {% for error in regiterFormFirm.namef.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor  %}
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              {{ regiterFormFirm.passwordf.label  }}
                {{ regiterFormFirm.passwordf(class='form-control')  }}
                {% for error in regiterFormFirm.passwordf.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor  %}
                <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              {{ regiterFormFirm.nemployees.label  }}
                {{ regiterFormFirm.nemployees(class='form-control') }}
                {% for error in regiterFormFirm.nemployees.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor  %}
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
                 {{ regiterFormFirm.piva.label }}
                {{ regiterFormFirm.piva(class='form-control') }}
                {% for error in regiterFormFirm.piva.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor  %}
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              {{ regiterFormFirm.sector.label  }}
                {{ regiterFormFirm.sector(class='form-control')  }}
                {% for error in regiterFormFirm.sector.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor  %}
                <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              {{ regiterFormFirm.fatturato.label  }}
                {{ regiterFormFirm.fatturato(class='form-control') }}
                {% for error in regiterFormFirm.fatturato.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor  %}
                <p class="help-block"></p>
            </div>
          </div>

          <div id="success"></div>
          <!-- For success/fail messages -->
        {{ regiterFormFirm.submit(class='btn btn-primary') }}
            {{ regiterFormFirm.hidden_tag() }}
        </form>
      </div>

    </div>
    <!-- /.row -->

{% endblock content %}