{% extends 'layout.html' %}





{% block content %}
        <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row">
      <div class="col-lg-8 mb-4">
        <h2>Sign up</h2>
        <form method="post" >
          <div class="control-group form-group">
            <div class="controls">
              {{ regiterForm.name.label  }}
                {{ regiterForm.name(class='form-control')  }}
                {% for error in regiterForm.name.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor  %}
                <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
               {{ regiterForm.familyname.label  }}
                {{ regiterForm.familyname(class='form-control')  }}
                {% for error in regiterForm.familyname.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor  %}
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              {{ regiterForm.usern.label  }}
                {{ regiterForm.usern(class='form-control')  }}
                {% for error in regiterForm.usern.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor  %}
                <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              {{ regiterForm.email.label  }}
                {{ regiterForm.email(class='form-control') }}
                {% for error in regiterForm.email.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor  %}
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
                {{ regiterForm.password.label }} <a style="font-size: 80%; color: #4e555b">(Must be 8-20 characters long)</a>
                {{ regiterForm.password(class='form-control') }}
                {% for error in regiterForm.password.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor  %}
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              {{ regiterForm.isee.label  }}
                {{ regiterForm.isee(class='form-control')  }}
                {% for error in regiterForm.isee.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor  %}
                <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              {{ regiterForm.age.label  }}
                {{ regiterForm.age(class='form-control') }}
                {% for error in regiterForm.age.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor  %}
                <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              {{ regiterForm.profession.label  }}
                {{ regiterForm.profession(class='form-control')  }}
                {% for error in regiterForm.profession.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor  %}
                <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              {{ regiterForm.number_child.label  }}
                {{ regiterForm.number_child(class='form-control') }}
                {% for error in regiterForm.number_child.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor  %}
                <p class="help-block"></p>
            </div>
          </div>
          <div id="success"></div>
          <!-- For success/fail messages -->
        {{ regiterForm.submit(class='btn btn-primary') }}
            {{ regiterForm.hidden_tag() }}
        </form>
      <br>
          <p>Se sei già registrato premi <a href="login">qui</a> per accedere</p>
      </div>

    </div>
    <!-- /.row -->

{% endblock content %}